//App.scss

.navbar-collapse {
  flex-grow: 0;
}

.date_delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Navbar.scss */

.navbar {
  padding: 1rem;
}

/* Home.css */

.dashboard-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card-title {
  font-size: 1.5rem;
  color: #343a40;
}

.dashboard-card-text {
  color: #6c757d;
}

.not-logged-in-message {
  font-size: 1.2rem;
  color: #6c757d;
}

.login-button {
  margin-top: 1rem;
}

.dashboard-button {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
}

.dashboard-button:hover {
  background-color: #e2e6ea;
  border-color: #b0b6bb;
}



/* Logs.scss */

.delete-icon:hover {
  transform: scale(1.2); // Scale up the icon on hover
}

.log-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hide the card */
  transform: translateY(20px); /* Move the card down */
  animation: fadeInUp 0.5s forwards; /* Apply fade-in animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.exercise {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.log-details {
  flex-grow: 1;
  padding: 15px;
}

.log-details > div {
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

.delete-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.delete-icon:hover {
  transform: scale(1.1);
}
